[Unit]
Description=Scraper Services - Booksoft & Primapagina
After=network.target mysql.service

[Service]
Type=oneshot
User=root
Group=root
WorkingDirectory=/var/www/html
ExecStart=/bin/bash -c "/var/www/html/booksoft.ro/scraper/_master.sh >> /var/www/html/booksoft.ro/scraper/logs/booksoft_master.log 2>&1 && /var/www/html/primapagina.ro/screens/_master.sh >> /var/www/html/primapagina.ro/logs/primapagina_master.log 2>&1"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target