[Unit]
Description=Scraper Services - Booksoft & Primapagina
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/var/www/html/booksoft.ro/scraper/_master.sh && /var/www/html/primapagina.ro/screens/_master.sh"
RemainAfterExit=yes
User=root

[Install]
WantedBy=multi-user.target
